@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  src: url("./fonts/me_quran.ttf");
  font-family: QuranFont;
}
@font-face {
  font-family: "quranFont";
  src: url("./fonts/UthmanicHafs_V20.ttf");
}
@font-face {
  font-family: "numberFont";
  src: url("./fonts/Al\ Qalam\ Quran\ Majeed.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
#root {
  height: 100vh;
}
* {
  font-family: "Cairo", sans-serif;
}

.font-QuranFont {
  font-family: quranFont;
}

.font-NumberFont {
    font-family: numberFont;
  }

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}